
@{
    ViewBag.Title = "ObtenerProveedores";
}

<h2>ObtenerProveedores</h2>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {

        $("#tbProveedor tbody tr").dblclick(function () {
            var Proveedor = {};
            var n;
            n = Proveedor.Nombre = $(this).children().eq('0').text();
            console.info(n);
            window.opener.obtenerProveedor(Proveedor);
            window.close();



        });
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading">Buscar Proveedores en el Sistema</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h2 style="text-align:center; font-family:Arial; font-weight:700;">Buscar Proveedor por:</h2>
                <fieldset>
                    <div class="row" style="padding-bottom:8px;">
                        <div class="form-group col-md-3">
                            @Html.Label("Nombre", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBox("txtnombre", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <input type="submit" value="Buscar" />
        }
    </div>
</div>
<table class="table table-striped" id="tbProveedor">
    <tr>
        <th>Nombre</th>
        <th>Tipo Proveedor</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.TipoProveedor</td>
            </tr>
        }
    </tbody>

</table>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>